{% for row in data %}
    <tr>
        <td>{{row.age}}</td>
        <td>{{row.workclass}}</td>
        <td>{{row.fnlwgt}}</td>
        <td>{{row.education}}</td>
        <td>{{row.education_num}}</td>
        <td>{{row.marital_status}}</td>
        <td>{{row.occupation}}</td>
        <td>{{row.relationship}}</td>
        <td>{{row.race}}</td>
        <td>{{row.sex}}</td>
        <td>{{row.capital_gain}}</td>
        <td>{{row.capital_loss}}</td>
        <td>{{row.hours_per_week}}</td>
        <td>{{row.native_country}}</td>
    </tr>
{% endfor %}